.code-box
{
    padding: 25px;
    background: #808080;
    font-size: 17px;
    font-family: Consolas;
}

.code-box p 
{
    margin: 0;
    white-space: pre-line;
    overflow-x: auto;
    width: 100%;
}

.class 
{
    color: #4EC9B0;
}

.keyword
{
    color: #569CD6;
}

.tabbing
{
    padding-left: 15px;
}

.tabbing-2
{
    padding-left: 30px;
}

.tabbing-3
{
    padding-left: 45px;
}

.tabbing-4
{
    padding-left: 60px;
}

.tabbing-5
{
    padding-left: 75px;
}
