/* Fixes IE11 incompatibilities with Bootstrap and the scrollbar. */
body 
{
    -ms-overflow-style: scrollbar;
}

/* Bootstrap override: */
.navbar
{
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a 
{
    background-color: #222222;
    color: white;
}

.navbar-inverse .navbar-nav > li > a.theme-btn-linkedin 
{
    background-color: #3570b3;
    color: white;
}

/* Bootstrap override: */
.navbar-inverse .navbar-nav > li > a:hover
{
    background-color: white;
    color: #222222;
}

/* Bootstrap override: */
.navbar-inverse .navbar-nav > li > a.active
{
    background-color: white !important;
    color: #222222;
}

/* Bootstrap override: */
@media (min-width: 768px) 
{
    .navbar 
    {
        border-radius: 0;
    }
}

#nav-name 
{
    background-color: transparent;
    color: white;
}

#footer 
{
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #222222;
    color: white;
}

.breadcrumb-list
{
    padding: 15px;
    border: 1px solid black;
    border-radius: 0;
}

.breadcrumb-item
{
    text-decoration: none;
    padding: 5px;
}

.breadcrumb-item:hover 
{
    text-decoration: none;
}

.breadcrumb-item-active
{
    padding: 5px;
    color: darkgrey;
}

.breadcrumb-item-active:hover 
{
    text-decoration: none;
}