/* Fixes IE11 incompatibilities with Bootstrap and the scrollbar. */
body 
{
    -ms-overflow-style: scrollbar;
}

.breadcrumb-list 
{
    padding: 15px;
    border: 1px solid black;
    border-radius: 0;
}

.breadcrumb-item
{
    text-decoration: none;
    padding: 5px;
}

.breadcrumb-item:hover 
{
    text-decoration: none;
}

.breadcrumb-item-active
{
    padding: 5px;
    color: darkgrey;
}

.breadcrumb-item-active:hover
{
    text-decoration: none;
}

#footer
{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #222222;
    color: white;
}

/* Bootstrap override: */
.navbar
{
    margin-bottom: 0px;
}

.navbar-dropdown-item
{
    font-size: 16px;
}

/* Bootstrap Override */
.dropdown-menu > li > a:hover
{
    background-color: #101010;
    color: white;
}

.navbar-inverse .navbar-nav > li > a 
{
    background-color: #222222;
    color: white;
}

.navbar-inverse .navbar-nav > li > a.theme-btn-linkedin 
{
    background-color: #3570b3;
    color: white;
}

/* Bootstrap override: */
.navbar-inverse .navbar-nav > li > a:hover
{
    background-color: white;
    color: #222222;
}

/* Bootstrap override: */
.navbar-inverse .navbar-nav > li > a.active
{
    background-color: white !important;
    color: #222222;
}

#nav-name 
{
    background-color: transparent;
    color: white;
}

.sidenav
{
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: #333333;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 5;
}

.sidenav a
{
    display: block;
    color: white;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.sidenav a:hover
{
    background-color: white;
    color: black;
}

.sidenav a.active-item
{
    background-color: white;
    color: black;
    cursor: default;
}

.sidenav-content
{
    margin-left: 200px;
}

.sidenav-content-item
{
    display: none;
}

.sidenav-content-item.active-item
{
    display: block;
}

/* Bootstrap override: */
@media (min-width: 768px) 
{
    .navbar 
    {
        border-radius: 0;
    }
}

@media (max-width: 767px)
{
    /* Bootstrap Override */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
    {
        background-color: white;
        color: black;
    }
}

@media (max-width: 500px) 
{
    .sidenav
    {
        position: initial;
        display: inline-block;
        width: 100%;
    }

    .sidenav-content
    {
        margin: 0;
    }
}
