.image-responsive
{
    height: auto;
    width: 100%;
}

.image-container
{
    position: relative;
    text-align: center;
    color: white;
}

.image-text-bottom-left
{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.image-text-top-left
{
    position: absolute;
    top: 8px;
    left: 16px;
}

.image-text-bottom-right
{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.image-text-top-right 
{
    position: absolute;
    top: 8px;
    right: 16px;
}

.image-text-centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-text-bottom-wide
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0;
}

.show-mobile
{
    display: none;
}

.hide-mobile 
{
    display: initial;
}

.column-container
{
    display: table;
    width: 100%;
}

.column 
{
    display: table-cell;
    text-decoration: none;
    padding: 10px 15px;
}

.column-icon 
{
    width: 10%;
    text-align: center;
    padding: 10px;
}

@media (max-width: 500px) 
{
    .show-mobile 
    {
        display: block;
    }

    .hide-mobile
    {
        display: none !important;
    }
}
