.theme-text-area 
{
    background-color: #222222;
    color: white;
    padding: 25px;
    border-radius: 10px;
}

.theme-btn-git 
{
    background: #83168e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#83168e, #591c7c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#83168e, #591c7c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#83168e, #591c7c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#83168e, #591c7c); /* Standard syntax */
    color: white;
}

.theme-btn-linkedin 
{
    background-color: #3570b3;
    color: white;
}

.theme-btn 
{
    background-color: #222222;
    color: white;
    border: 1px solid grey;
}

.theme-btn:hover 
{
    background-color: white;
        color: #222222;
}

.theme-btn-git:hover 
{
    background: white;
    color: #83168e;
}

.theme-content
{
    border: 1px solid #222222;
}

.theme-content-header
{
    background-color: #222222;
    color: white;
    padding: 25px;
    margin-bottom: 0px;
}

.theme-list-group-item
{
}

.theme-list-group-item:hover
{
    background-color: #222222 !important;
    color: white !important;
}

.theme-list-group-item:focus 
{
    background-color: #222222 !important;
    border: 1px solid white;
    color: white !important;
}

.theme-list-group-item .list-group-item-heading > .badge
{
    float: right;
}

.theme-list-group-item .list-group-item-heading > .badge 
{
    margin-right: 5px;
}

.theme-list-group-item-text 
{
    display: inline-block; 
    padding-top: 5px;
}